global
    log stdout format raw local0
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  forwardfor except 127.0.0.0/8
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend inventory-frontend
    bind *:8080
    mode http
    default_backend inventory-backend

backend inventory-backend
    mode http
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server inventory1 inventory-service.otel-java-sample.svc.cluster.local:8080 check inter 3s fall 3 rise 2

